body{
    /*background-image: url("../img/back2.jpeg");
    background-attachment: fixed;*/
    background-color: black;
}

.nav {
    overflow: hidden;
    padding: 14px 14px;
    align-items: center;
    background-color: black;
}

.nav p.navtitle{
    float: left;
    color: white;
    text-decoration: solid;
    text-align: top;
    font-size: 20px;
    opacity: 1.0;
}

.nav a {
    float: right;
    text-align: center;
    color: white;
    padding: 16px 14px;
    text-decoration: solid;
    font-size: 25px;
    opacity: 1.0;
}

.nav a:hover {
    padding: 18px 16px;
}

.footer{
    position: relative;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px white solid;
    padding: 8px 8px;
    text-align: center;
}

.footer p{
    text-align: center;
    color: white;
}

/* Parallax */

.para1{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    min-height: 100vh;
    justify-content: top;
    background-attachment: fixed;
    background-image: url("../img/para4.jpg");
    background-position: center;
    background-size:cover;
    text-align: center;
    color: white;
}

.para2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url("../img/para4.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.buffer{
    width: 100%;
    background-color: gray;
    opacity: 0.1;
    height: 30vh;
}

/*end of parallax*/

.para1 h1{
    padding: 50px 50px;
    font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ideas{
    text-align: center;
    resize: none;
    border: none;
    outline: 0;
    background-color: wheat;
    font-family: 'Courier New', Courier, monospace;
}

.submitideas{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 15px 80px;
    background-color: green;
    color: white;
    font-size: large;
}

.submitideas:hover{
    transform: scale(1.04);
}

.lbl1{
    display: inline-block;
    font-size: large;
    font-weight: bold;
    padding: 8px 20px;
    text-align: right;
    width: 150px;
}
.mailbox{
    float: right;
    border: none;
    outline: 0;
    padding: 10px 100px;
}

/* projects list */

.projects{
    width: 100%;
    height: fit-content;
    background-color: transparent;
    overflow:hidden;
    display:flex;
    justify-content: center;
    text-align:center;
}

.pro1 , .pro2 , .pro3{
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin: 20px;
    box-shadow: 1px 1px 5px 5px black;
    z-index: 1;
}

.pro1:hover , .pro2:hover , .pro3:hover{
    transform: scale(1.04);
}

.ab1 , .ab2 , .ab3{
    visibility: hidden;
    background-color: black;
    z-index: 2;
}